In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
df_original = pd.read_csv('../data/globos.csv')
df = df_original.copy()

df.head()

      Color Tamanio Se_estira?    Edad Inflado?
0  Amarillo   Chico         Si  Adulto       Si
1  Amarillo   Chico         Si    Nene       Si
2  Amarillo   Chico         No  Adulto       No
3  Amarillo   Chico         No    Nene       No
4  Amarillo  Grande         Si  Adulto       Si

In [35]:
df.describe(include='all')

           Color Tamanio Se_estira?    Edad Inflado?
count         16      16         16      16       16
unique         2       3          2       2        2
top     Amarillo   Chico         Si  Adulto       No
freq           8       6          8       8       10

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df_original = pd.read_csv('../data/globos.csv')
df = df_original.copy()

df['Color'] = df['Color'].map({'Rojo': 1, 'Amarillo': 0})
df['Se_estira?'] = df['Se_estira?'].map({'Si': 1, 'No': 0})
df['Edad'] = df['Edad'].map({'Nene': 0, 'Adulto': 1})
df['Tamanio'] = df['Tamanio'].map({'Chico': 0, 'Mediano': 0.5, 'Grande': 1})

df['Inflado?'] = df['Inflado?'].map({'Si': 1, 'No': 0})

In [37]:
# Orden de features: [Color, Tamanio, Se_estira?, Edad]
X = df[["Color", "Tamanio", "Se_estira?", "Edad"]].to_numpy()
y = df["Inflado?"].to_numpy()

print("X shape:", X.shape)
print("y shape:", y.shape)
print("X:", X)
print("y:", y)

X shape: (16, 4)
y shape: (16,)
X: [[0.  0.  1.  1. ]
 [0.  0.  1.  0. ]
 [0.  0.  0.  1. ]
 [0.  0.  0.  0. ]
 [0.  1.  1.  1. ]
 [0.  1.  1.  0. ]
 [0.  0.5 0.  1. ]
 [0.  0.5 0.  0. ]
 [1.  0.  1.  1. ]
 [1.  0.  1.  0. ]
 [1.  0.5 0.  1. ]
 [1.  0.5 0.  0. ]
 [1.  1.  1.  1. ]
 [1.  1.  1.  0. ]
 [1.  1.  0.  1. ]
 [1.  1.  0.  0. ]]
y: [1 1 0 0 1 1 0 0 1 0 0 0 1 0 0 0]

In [38]:
# Definir perceptrones (w y b) tal como en la tabla
perceptrones = {
    "P1": {"w": np.array([0.050, 0.006, -0.068, -0.047]), "b": 0.005},
    "P2": {"w": np.array([-0.494, -0.003, 0.722, 0.489]), "b": -0.4943},
    "P3": {"w": np.array([0.060, 0.004, 0.1278, 0.021]), "b": -0.1132},
    "P4": {"w": np.array([0.296, 0.026, -0.576, -0.287]), "b": 0.371},
    "P5": {"w": np.array([0.994, 0.006, -1.466, -0.989]), "b": 0.988},
    "P6": {"w": np.array([0.035, 0.011, -0.074, -0.028]), "b": 0.042}
}

In [39]:
def predict_perceptron(X, w, b):
    # y_hat = 1 si w¬∑x + b > 0, else 0
    scores = X @ w + b
    return (scores > 0).astype(int), scores

results = []
for name, params in perceptrones.items():
    yhat, s = predict_perceptron(X, params["w"], params["b"])
    acc = (yhat == y).mean()
    errors = int((yhat != y).sum())
    results.append((name, acc, errors))

res_df = pd.DataFrame(results, columns=["Perceptr√≥n", "Accuracy", "Errores"])

res_df

  Perceptr√≥n  Accuracy  Errores
0         P1    0.2500       12
1         P2    1.0000        0
2         P3    0.8750        2
3         P4    0.0000       16
4         P5    0.0625       15
5         P6    0.0000       16

In [40]:
# Devolver tambi√©n un detalle por ejemplo para el peor y mejor
best = max(results, key=lambda t: t[1])[0]
worst = min(results, key=lambda t: t[1])[0]
best, worst

('P2', 'P4')