In [132]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [133]:
df_train_original = pd.read_csv('../data/drugs_train.csv')
df_train = df_train_original.copy()


df_test_original = pd.read_csv('../data/drugs_test.csv')
df_test = df_test_original.copy()




df_train.describe(include='all')

               Age  Sex    BP Cholesterol          Na           K   Drug
count   160.000000  160   160         160  160.000000  160.000000    160
unique         NaN    2     3           2         NaN         NaN      5
top            NaN    M  HIGH        HIGH         NaN         NaN  drugY
freq           NaN   81    60          82         NaN         NaN     73
mean     44.731250  NaN   NaN         NaN    0.700157    0.050815    NaN
std      16.975647  NaN   NaN         NaN    0.116932    0.017298    NaN
min      15.000000  NaN   NaN         NaN    0.500169    0.020042    NaN
25%      31.000000  NaN   NaN         NaN    0.592570    0.035392    NaN
50%      45.000000  NaN   NaN         NaN    0.724923    0.050363    NaN
75%      59.250000  NaN   NaN         NaN    0.794657    0.066203    NaN
max      74.000000  NaN   NaN         NaN    0.896056    0.079788    NaN

In [134]:


# 1. ENCODING SEX: F‚Üí0, M‚Üí1
print("=== ENCODING SEX ===")
df_train['Sex'] = df_train["Sex"].map({"F": 0, "M": 1})
df_test['Sex'] = df_test["Sex"].map({"F": 0, "M": 1})

print(f"Train Sex distribution: {df_train['Sex'].value_counts().to_dict()}")
print(f"Test Sex distribution: {df_test['Sex'].value_counts().to_dict()}")

# 2. ENCODING BP: OneHotEncoder con manejo de valores desconocidos
print("\n=== ENCODING BP CON ONEHOTENCODER ===")
# Limpiar y estandarizar valores
df_train["BP"] = df_train["BP"].str.strip().str.upper()
df_test["BP"] = df_test["BP"].str.strip().str.upper()

print(f"Train BP unique values: {df_train['BP'].unique()}")
print(f"Test BP unique values: {df_test['BP'].unique()}")

# Crear y ajustar OneHotEncoder
# handle_unknown='ignore' permite manejar valores no vistos en entrenamiento
bp_encoder = OneHotEncoder(drop='first', handle_unknown='ignore', sparse_output=False)

# Ajustar solo con datos de entrenamiento
bp_encoded_train = bp_encoder.fit_transform(df_train[["BP"]])
bp_encoded_test = bp_encoder.transform(df_test[["BP"]])

# Crear nombres de columnas
bp_columns = [f"BP_{cat}" for cat in bp_encoder.categories_[0][1:]]  # [1:] porque drop='first'

# Convertir a DataFrame
bp_train_df = pd.DataFrame(bp_encoded_train, columns=bp_columns, index=df_train.index)
bp_test_df = pd.DataFrame(bp_encoded_test, columns=bp_columns, index=df_test.index)

# Concatenar con el dataset original (sin la columna BP)
df_train = pd.concat([df_train.drop(columns=["BP"]), bp_train_df], axis=1)
df_test = pd.concat([df_test.drop(columns=["BP"]), bp_test_df], axis=1)

print(f"Categor√≠as aprendidas por el encoder: {bp_encoder.categories_[0]}")
print(f"Columnas BP creadas: {bp_columns}")
print(f"Train shape after BP encoding: {df_train.shape}")
print(f"Test shape after BP encoding: {df_test.shape}")

# Verificar que no hay valores NaN
print(f"Valores NaN en train BP columns: {bp_train_df.isnull().sum().sum()}")
print(f"Valores NaN en test BP columns: {bp_test_df.isnull().sum().sum()}")

df_train.head()

=== ENCODING SEX ===
Train Sex distribution: {1: 81, 0: 79}
Test Sex distribution: {1: 23, 0: 17}

=== ENCODING BP CON ONEHOTENCODER ===
Train BP unique values: ['LOW' 'HIGH' 'NORMAL']
Test BP unique values: ['LOW' 'HIGH' 'NORMAL']
Categor√≠as aprendidas por el encoder: ['HIGH' 'LOW' 'NORMAL']
Columnas BP creadas: ['BP_LOW', 'BP_NORMAL']
Train shape after BP encoding: (160, 8)
Test shape after BP encoding: (40, 8)
Valores NaN en train BP columns: 0
Valores NaN en test BP columns: 0

   Age  Sex Cholesterol        Na         K   Drug  BP_LOW  BP_NORMAL
0   16    1        HIGH  0.743021  0.061886  drugC     1.0        0.0
1   42    0        HIGH  0.533228  0.025348  drugY     0.0        0.0
2   33    0        HIGH  0.858387  0.025634  drugY     1.0        0.0
3   47    1        HIGH  0.697269  0.068944  drugC     1.0        0.0
4   56    0        HIGH  0.750962  0.029571  drugY     0.0        0.0

In [135]:
# 3. ENCODING CHOLESTEROL: NORMAL‚Üí0, HIGH‚Üí1
print("=== ENCODING CHOLESTEROL ===")

# Limpiar y estandarizar valores
df_train["Cholesterol"] = df_train["Cholesterol"].str.strip().str.upper()
df_test["Cholesterol"] = df_test["Cholesterol"].str.strip().str.upper()

print(f"Train Cholesterol unique values: {df_train['Cholesterol'].unique()}")
print(f"Test Cholesterol unique values: {df_test['Cholesterol'].unique()}")

# Mapear a binario: NORMAL‚Üí0, HIGH‚Üí1
df_train["Cholesterol"] = df_train["Cholesterol"].map({"NORMAL": 0, "HIGH": 1}).astype("int8")
df_test["Cholesterol"] = df_test["Cholesterol"].map({"NORMAL": 0, "HIGH": 1}).astype("int8")

print(f"Train Cholesterol distribution: {df_train['Cholesterol'].value_counts().to_dict()}")
print(f"Test Cholesterol distribution: {df_test['Cholesterol'].value_counts().to_dict()}")

df_train.head()

=== ENCODING CHOLESTEROL ===
Train Cholesterol unique values: ['HIGH' 'NORMAL']
Test Cholesterol unique values: ['HIGH' 'NORMAL']
Train Cholesterol distribution: {1: 82, 0: 78}
Test Cholesterol distribution: {1: 21, 0: 19}

   Age  Sex  Cholesterol        Na         K   Drug  BP_LOW  BP_NORMAL
0   16    1            1  0.743021  0.061886  drugC     1.0        0.0
1   42    0            1  0.533228  0.025348  drugY     0.0        0.0
2   33    0            1  0.858387  0.025634  drugY     1.0        0.0
3   47    1            1  0.697269  0.068944  drugC     1.0        0.0
4   56    0            1  0.750962  0.029571  drugY     0.0        0.0

In [136]:
# 4. STANDARDIZACI√ìN DE VARIABLES NUM√âRICAS
print("=== STANDARDIZACI√ìN ===")

# Variables num√©ricas a estandarizar
cols_to_standardize = ["Age", "Na", "K"]

print(f"Variables a estandarizar: {cols_to_standardize}")

# Ajustar el scaler solo con datos de entrenamiento
scaler = StandardScaler().fit(df_train[cols_to_standardize])

# Aplicar transformaci√≥n a train y test
df_train[cols_to_standardize] = scaler.transform(df_train[cols_to_standardize])
df_test[cols_to_standardize] = scaler.transform(df_test[cols_to_standardize])

print(f"Train shape final: {df_train.shape}")
print(f"Test shape final: {df_test.shape}")

# Verificar que las columnas coincidan
print(f"Train columns: {list(df_train.columns)}")
print(f"Test columns: {list(df_test.columns)}")
print(f"Columns match: {list(df_train.columns) == list(df_test.columns)}")

df_train.head()

=== STANDARDIZACI√ìN ===
Variables a estandarizar: ['Age', 'Na', 'K']
Train shape final: (160, 8)
Test shape final: (40, 8)
Train columns: ['Age', 'Sex', 'Cholesterol', 'Na', 'K', 'Drug', 'BP_LOW', 'BP_NORMAL']
Test columns: ['Age', 'Sex', 'Cholesterol', 'Na', 'K', 'Drug', 'BP_LOW', 'BP_NORMAL']
Columns match: True

        Age  Sex  Cholesterol        Na         K   Drug  BP_LOW  BP_NORMAL
0 -1.697812    1            1  0.367718  0.642032  drugC     1.0        0.0
1 -0.161397    0            1 -1.432057 -1.476815  drugY     0.0        0.0
2 -0.693233    0            1  1.357422 -1.460230  drugY     1.0        0.0
3  0.134067    1            1 -0.024780  1.051328  drugC     1.0        0.0
4  0.665903    0            1  0.435842 -1.231922  drugY     0.0        0.0

In [137]:
# 5. VERIFICACI√ìN FINAL Y AN√ÅLISIS DE DATOS
print("=== VERIFICACI√ìN FINAL ===")

# Verificar tipos de datos
print("Tipos de datos en train:")
print(df_train.dtypes)
print("\nTipos de datos en test:")
print(df_test.dtypes)

# Verificar valores nulos
print(f"\nValores nulos en train: {df_train.isnull().sum().sum()}")
print(f"Valores nulos en test: {df_test.isnull().sum().sum()}")

# Estad√≠sticas descriptivas
print("\n=== ESTAD√çSTICAS DESCRIPTIVAS ===")
print("Train dataset:")
print(df_train.describe())

print("\nTest dataset:")
print(df_test.describe())

# Verificar distribuci√≥n de la variable objetivo (si existe)
if 'Drug' in df_train.columns:
    print(f"\nDistribuci√≥n de Drug en train: {df_train['Drug'].value_counts().to_dict()}")
    
# Mostrar las primeras filas de ambos datasets
print("\n=== PRIMERAS FILAS ===")
print("Train dataset:")
print(df_train.head())

print("\nTest dataset:")
print(df_test.head())

=== VERIFICACI√ìN FINAL ===
Tipos de datos en train:
Age            float64
Sex              int64
Cholesterol       int8
Na             float64
K              float64
Drug            object
BP_LOW         float64
BP_NORMAL      float64
dtype: object

Tipos de datos en test:
Age            float64
Sex              int64
Cholesterol       int8
Na             float64
K              float64
Drug            object
BP_LOW         float64
BP_NORMAL      float64
dtype: object

Valores nulos en train: 0
Valores nulos en test: 0

=== ESTAD√çSTICAS DESCRIPTIVAS ===
Train dataset:
                Age         Sex  Cholesterol            Na             K  \
count  1.600000e+02  160.000000   160.000000  1.600000e+02  1.600000e+02
mean  -1.720846e-16    0.506250     0.512500 -1.181000e-15 -8.881784e-17
std    1.003140e+00    0.501531     0.501413  1.003140e+00  1.003140e+00
min   -1.756905e+00    0.000000     0.000000 -1.715664e+00 -1.784511e+00
25%   -8.114190e-01    0.000000     0.000000 -9.229711e-01 -8.943755e-01
50%    1.588121e-02    1.000000     1.000000  2.124587e-01 -2.616012e-02
75%    8.579546e-01    1.000000     1.000000  8.106960e-01  8.923908e-01
max    1.729574e+00    1.000000     1.000000  1.680577e+00  1.680174e+00

           BP_LOW   BP_NORMAL
count  160.000000  160.000000
mean     0.318750    0.306250
std      0.467455    0.462382
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      1.000000    1.000000
max      1.000000    1.000000

Test dataset:
             Age        Sex  Cholesterol         Na          K     BP_LOW  \
count  40.000000  40.000000    40.000000  40.000000  40.000000  40.000000
mean   -0.122987   0.575000     0.525000  -0.131353  -0.185774   0.325000
std     0.872963   0.500641     0.505736   1.092182   1.091470   0.474342
min    -1.697812   0.000000     0.000000  -1.674263  -1.785671   0.000000
25%    -0.767099   0.000000     0.000000  -1.169245  -1.256438   0.000000
50%    -0.102305   1.000000     1.000000  -0.357359  -0.256439   0.000000
75%     0.488624   1.000000     1.000000   0.910423   0.774859   1.000000
max     1.493203   1.000000     1.000000   1.616862   1.614007   1.000000

       BP_NORMAL
count  40.000000
mean    0.250000
std     0.438529
min     0.000000
25%     0.000000
50%     0.000000
75%     0.250000
max     1.000000

Distribuci√≥n de Drug en train: {'drugY': 73, 'drugX': 43, 'drugA': 18, 'drugC': 13, 'drugB': 13}

=== PRIMERAS FILAS ===
Train dataset:
        Age  Sex  Cholesterol        Na         K   Drug  BP_LOW  BP_NORMAL
0 -1.697812    1            1  0.367718  0.642032  drugC     1.0        0.0
1 -0.161397    0            1 -1.432057 -1.476815  drugY     0.0        0.0
2 -0.693233    0            1  1.357422 -1.460230  drugY     1.0        0.0
3  0.134067    1            1 -0.024780  1.051328  drugC     1.0        0.0
4  0.665903    0            1  0.435842 -1.231922  drugY     0.0        0.0

Test dataset:
        Age  Sex  Cholesterol        Na         K   Drug  BP_LOW  BP_NORMAL
0  0.134067    0            1 -1.375900  0.162685  drugC     1.0        0.0
1  0.252253    1            0 -0.637136  0.348718  drugX     1.0        0.0
2  0.311346    1            1 -1.560251  1.065767  drugA     0.0        0.0
3 -0.752326    0            1 -1.293535  1.314023  drugX     0.0        1.0
4 -0.279583    1            1 -1.226981 -1.785671  drugY     0.0        0.0

In [138]:
df_train['Drug'] = (df_train['Drug'] == 'drugY').astype(int)
df_test['Drug'] = (df_test['Drug'] == 'drugY').astype(int)


df_train

          Age  Sex  Cholesterol        Na         K  Drug  BP_LOW  BP_NORMAL
0   -1.697812    1            1  0.367718  0.642032     0     1.0        0.0
1   -0.161397    0            1 -1.432057 -1.476815     1     0.0        0.0
2   -0.693233    0            1  1.357422 -1.460230     1     1.0        0.0
3    0.134067    1            1 -0.024780  1.051328     0     1.0        0.0
4    0.665903    0            1  0.435842 -1.231922     1     0.0        0.0
..        ...  ...          ...       ...       ...   ...     ...        ...
155  1.611389    1            1 -1.310933 -1.000599     1     1.0        0.0
156 -1.520533    0            0  0.359748 -1.289623     1     0.0        0.0
157  1.138646    0            0 -1.252297 -1.698280     1     1.0        0.0
158  1.138646    1            0  0.341064 -0.896855     1     0.0        0.0
159  0.961367    0            1 -1.208442 -1.149170     1     1.0        0.0

[160 rows x 8 columns]

In [139]:
from perceptron import Perceptron

X_train = df_train.drop(columns=['Drug'])
y_train = df_train['Drug']

X_test = df_test.drop(columns=['Drug'])
y_test = df_test['Drug']


perc = Perceptron(lr=0.1, max_iter=1000, random_state=42, verbose=False)
perc.fit(X_train, y_train)

print("Accuracy: ", perc.score(X_test, y_test))
print("w:", perc.w_, "b:", perc.b_)

Accuracy:  0.975
w: [ 0.07669166  0.08960016  0.00750451  0.50940388 -1.09309399 -0.1130218
 -0.0987216 ] b: -0.20316242592343584

In [140]:
# 9. AN√ÅLISIS DE PREDICCIONES Y MATRIZ DE CONFUSI√ìN
print("=== AN√ÅLISIS DE PREDICCIONES Y MATRIZ DE CONFUSI√ìN ===")

# Hacer predicciones en test
y_pred_test = perc.predict(X_test)

# Crear DataFrame con datos originales + predicci√≥n
resultado_df = df_test_original.copy()
resultado_df['Prediccion'] = y_pred_test
resultado_df['Prediccion_Drug'] = resultado_df['Prediccion'].map({0: 'No drugY', 1: 'drugY'})

print("=== DATAFRAME CON DATOS ORIGINALES Y PREDICCIONES ===")
print(resultado_df)

print(f"\n=== MATRIZ DE CONFUSI√ìN ===")
from sklearn.metrics import confusion_matrix, classification_report

# Crear matriz de confusi√≥n
cm = confusion_matrix(y_test, y_pred_test)
print("Matriz de confusi√≥n:")
print(cm)

# Mostrar matriz de confusi√≥n con etiquetas
print("\nMatriz de confusi√≥n con etiquetas:")
print("                 Predicho")
print("                0    1")
print(f"Real    0    {cm[0,0]:3d}  {cm[0,1]:3d}")
print(f"        1    {cm[1,0]:3d}  {cm[1,1]:3d}")

# Interpretaci√≥n de la matriz
print(f"\n=== INTERPRETACI√ìN DE LA MATRIZ DE CONFUSI√ìN ===")
print(f"Verdaderos Negativos (TN): {cm[0,0]} - Predijo No drugY y era No drugY")
print(f"Falsos Positivos (FP):     {cm[0,1]} - Predijo drugY pero era No drugY")
print(f"Falsos Negativos (FN):     {cm[1,0]} - Predijo No drugY pero era drugY")
print(f"Verdaderos Positivos (TP): {cm[1,1]} - Predijo drugY y era drugY")

# M√©tricas adicionales
print(f"\n=== M√âTRICAS DE RENDIMIENTO ===")
accuracy = (cm[0,0] + cm[1,1]) / cm.sum()
precision = cm[1,1] / (cm[1,1] + cm[0,1]) if (cm[1,1] + cm[0,1]) > 0 else 0
recall = cm[1,1] / (cm[1,1] + cm[1,0]) if (cm[1,1] + cm[1,0]) > 0 else 0
f1 = 2 * (precision * recall) / (precision + recall) if (precision + recall) > 0 else 0

print(f"Accuracy:  {accuracy:.3f}")
print(f"Precision: {precision:.3f}")
print(f"Recall:    {recall:.3f}")
print(f"F1-Score:  {f1:.3f}")

# Reporte completo de clasificaci√≥n
print(f"\n=== REPORTE COMPLETO DE CLASIFICACI√ìN ===")

=== AN√ÅLISIS DE PREDICCIONES Y MATRIZ DE CONFUSI√ìN ===
=== DATAFRAME CON DATOS ORIGINALES Y PREDICCIONES ===
    Age Sex      BP Cholesterol        Na         K   Drug  Prediccion  \
0    47   F     LOW        HIGH  0.539774  0.053620  drugC           0
1    49   M     LOW      NORMAL  0.625889  0.056828  drugX           0
2    50   M    HIGH        HIGH  0.518285  0.069193  drugA           0
3    32   F  NORMAL        HIGH  0.549375  0.073474  drugX           0
4    40   M    HIGH        HIGH  0.557133  0.020022  drugY           1
5    63   M  NORMAL        HIGH  0.616117  0.023773  drugY           1
6    46   F    HIGH        HIGH  0.773569  0.022302  drugY           1
7    58   F     LOW        HIGH  0.886865  0.023188  drugY           1
8    31   M    HIGH      NORMAL  0.886240  0.051922  drugY           1
9    66   M    HIGH        HIGH  0.849850  0.051988  drugY           1
10   42   M    HIGH      NORMAL  0.857940  0.067203  drugA           0
11   56   M     LOW        HIGH  0.812663  0.054123  drugY           1
12   26   F     LOW        HIGH  0.578002  0.040819  drugC           0
13   18   F    HIGH      NORMAL  0.564811  0.023266  drugY           1
14   34   F     LOW      NORMAL  0.825542  0.063881  drugX           0
15   70   M    HIGH        HIGH  0.658606  0.047153  drugB           1
16   23   M     LOW        HIGH  0.559060  0.076609  drugC           0
17   50   F  NORMAL      NORMAL  0.601915  0.048957  drugX           0
18   54   M  NORMAL        HIGH  0.504995  0.020480  drugY           1
19   38   F    HIGH      NORMAL  0.733842  0.064793  drugA           0
20   49   M     LOW      NORMAL  0.510473  0.037539  drugX           0
21   57   F  NORMAL        HIGH  0.596099  0.041931  drugX           0
22   22   F  NORMAL        HIGH  0.676901  0.078647  drugX           0
23   37   F    HIGH      NORMAL  0.795312  0.034443  drugY           1
24   60   M  NORMAL      NORMAL  0.645515  0.063971  drugX           0
25   37   F     LOW      NORMAL  0.804155  0.066981  drugX           0
26   51   M    HIGH      NORMAL  0.832467  0.073392  drugB           0
27   19   F    HIGH        HIGH  0.516973  0.038832  drugA           0
28   53   M  NORMAL        HIGH  0.644936  0.045632  drugX           0
29   21   F    HIGH      NORMAL  0.745098  0.026023  drugY           1
30   39   M    HIGH        HIGH  0.731091  0.075652  drugA           0
31   43   M     LOW        HIGH  0.626527  0.040746  drugY           1
32   53   F    HIGH      NORMAL  0.760809  0.060889  drugB           0
33   69   M     LOW      NORMAL  0.848948  0.074111  drugX           0
34   52   M     LOW      NORMAL  0.663146  0.020143  drugY           1
35   28   F  NORMAL        HIGH  0.860775  0.043750  drugY           1
36   16   M    HIGH      NORMAL  0.561019  0.029516  drugY           1
37   41   M    HIGH      NORMAL  0.658397  0.043442  drugY           1
38   23   M  NORMAL        HIGH  0.888629  0.028045  drugY           1
39   43   M     LOW      NORMAL  0.526102  0.027164  drugY           1

   Prediccion_Drug
0         No drugY
1         No drugY
2         No drugY
3         No drugY
4            drugY
5            drugY
6            drugY
7            drugY
8            drugY
9            drugY
10        No drugY
11           drugY
12        No drugY
13           drugY
14        No drugY
15           drugY
16        No drugY
17        No drugY
18           drugY
19        No drugY
20        No drugY
21        No drugY
22        No drugY
23           drugY
24        No drugY
25        No drugY
26        No drugY
27        No drugY
28        No drugY
29           drugY
30        No drugY
31           drugY
32        No drugY
33        No drugY
34           drugY
35           drugY
36           drugY
37           drugY
38           drugY
39           drugY

=== MATRIZ DE CONFUSI√ìN ===
Matriz de confusi√≥n:
[[21  1]
 [ 0 18]]

Matriz de confusi√≥n con etiquetas:
                 Predicho
                0    1
Real    0     21    1
        1      0   18

=== INTERPRETACI√ìN DE LA MATRIZ DE CONFUSI√ìN ===
Verdaderos Negativos (TN): 21 - Predijo No drugY y era No drugY
Falsos Positivos (FP):     1 - Predijo drugY pero era No drugY
Falsos Negativos (FN):     0 - Predijo No drugY pero era drugY
Verdaderos Positivos (TP): 18 - Predijo drugY y era drugY

=== M√âTRICAS DE RENDIMIENTO ===
Accuracy:  0.975
Precision: 0.947
Recall:    1.000
F1-Score:  0.973

=== REPORTE COMPLETO DE CLASIFICACI√ìN ===

In [141]:
print(classification_report(y_test, y_pred_test, target_names=['No drugY', 'drugY']))

              precision    recall  f1-score   support

    No drugY       1.00      0.95      0.98        22
       drugY       0.95      1.00      0.97        18

    accuracy                           0.97        40
   macro avg       0.97      0.98      0.97        40
weighted avg       0.98      0.97      0.98        40