In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split

In [86]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
lenses = fetch_ucirepo(id=58) 
X = lenses.data.features
y = lenses.data.targets

y_fixed = (y == 2).astype(int)
y_fixed

    class
1       0
2       1
3       0
4       0
5       0
6       1
7       0
8       0
9       0
10      1
11      0
12      0
13      0
14      1
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      1
23      0
24      0

In [87]:
from perceptron import Perceptron

ml = Perceptron(lr=0.01, max_iter=1000, verbose=True)
ml.fit(X,y_fixed.squeeze())
print(ml.score(X,y_fixed.squeeze()))

Época  100 | Errores:   2 | Accuracy: 0.917
Época  200 | Errores:   2 | Accuracy: 0.917
Época  300 | Errores:   1 | Accuracy: 0.958
Época  400 | Errores:   1 | Accuracy: 0.958
Época  500 | Errores:   2 | Accuracy: 0.917
Época  600 | Errores:   3 | Accuracy: 0.875
Época  700 | Errores:   1 | Accuracy: 0.958
Época  800 | Errores:   2 | Accuracy: 0.917
Época  900 | Errores:   1 | Accuracy: 0.958
Época 1000 | Errores:   2 | Accuracy: 0.917
0.9166666666666666